version: '3.8'
services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./backend:/app  
    working_dir: /app

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4201:80"
    depends_on:
      - backend
    restart: unless-stopped